{% extends "base.html" %}
{% load url from future %}

    <div id="content">
        {% block content %}
		<p><h4>Last 30 operations</h4></p>
		<div class="module">
		  <table width="100%">
			<caption>Operations</caption>
			<tr>
			  <th>Build</td>
			  <th>User</td>
              <th>Operation time</td>
			  <th>Type</td>
			  <th>Description</td>
			</tr>
			{% for row in operations %}
			<tr id='operationLog{{ row.3 }}'>
			  {% for field in row %}
			  <td>{{ field }}</td>
			  {% endfor %}
			</tr>
			{% endfor %}
		  </table>
		</div>

		{% endblock %}
    </div>
</body>
</html>

